<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="main">
        <h1>facebook</h1>
        <p id="line_0">Facebook helps you connect and share with the people in your life.</p>
        <div id="sub">
            <input id="email" type="text" placeholder="Email">
            <input id="pass" type="password" placeholder="Password">
            <button id="log_in" onclick="myfunc0()">Login</button>
            <a id="forgot" target="_blank" href="https://github.com/MTCodes01">Forgotten password?</a>
            <a id="new" href="https://github.com/MTCodes01">Create new account</a>
        </div>
        <p id="brand"><a id="page" target="_blank" href="https://github.com/MTCodes01">Create a Page</a> for a celebrity, brand or business.</p>
    </div>
    <script src="script.js"></script>
</body>
</html>